<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Categoría</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Crear Categoría</h1>
    <form th:action="@{/categorias/save}" th:object="${categoria}" method="post">
        <div class="form-group">
            <label>Nombre Categoría</label>
            <input type="text" class="form-control" th:field="*{nomCategoria}" required>
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" th:field="*{descripcion}" required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" th:field="*{activo}">
            <label class="form-check-label">Activo</label>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-secondary" th:href="@{/categorias/index}">Cancelar</a>
    </form>
</div>
</body>
</html>
